@import url(http://fonts.googleapis.com/css?family=Inconsolata:700);

body {
  line-height: 1;
}
body:before,
body:after {
  position: fixed;
  content: "";
  left: 0;
  width: 100%;
  height: 100px;
}
body:before {
  background-image: url(../images/grass0.png);
  background-position: bottom center;
  z-index: 15;
  bottom: -5px;
}
body:before {
  background-image: url(../images/grass1.png);
  background-position: bottom left;
  z-index: 13;
  bottom: -30px;
}
div {
  position: relative;
}

.center-by-margin {
  margin-right: auto;
  margin-left: auto;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(91, 192, 222);
  background-image: url(../images/loadingAnimation.gif);
  background-position: center 20px;
  background-repeat: no-repeat;
  display: block;
  z-index: 2000;
  overflow: hidden;
}
#loading > h1 {
  position: relative;
  top: 30px;
  font-size: 200px;
  font-weight: 900;
  color: rgb(255, 65, 0);
  text-shadow: 5px 5px rgb(51, 51, 51);
}
#loading > h2 {
  position: absolute;
  bottom: 50px;
  width: 100%;
}

#day {
  background-color: whitesmoke;
}
#night {
  background-color: rgb(10, 0, 20);
  background-image: url(../images/night0.png), url(../images/night1.png);
}

#day,
#night {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

body:not(.start) #sun,
body:not(.start) #moon {
  display: none;
}

#sun, 
#moon {
  position: fixed;
  width: 120px;
  height: 120px;
  left: 50%;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: -1;
}
#sun {
  background-image: url(../images/sun.png);
  background-repeat: no-repeat;
  background-position: center;
  bottom: 80%;
}
#moon {
  background-image: url(../images/moon.png);
  background-repeat: no-repeat;
  background-position: center;
  bottom: -80%;
}

#currTimeDiv {
  font-family: Inconsolata, Courier;
  text-align: center;
  margin-top: 70px;
}
#currTime {
  display: inline-block;
  font-size: 200px;
  color: rgb(255, 65, 0);
  text-shadow: 2px 2px rgb(51, 51, 51);
  cursor: pointer;
}
.tod-0,
.tod-7 {
  color: rgb(245, 245, 245);
  text-shadow: 2px 2px rgb(255, 65, 0);
}
.tod-1,
.tod-2,
.tod-5,
.tod-6 {
  color: rgb(245, 245, 245);
  text-shadow: 2px 2px rgb(255, 65, 0);
}
.tod-3,
.tod-4 {
  color: rgb(51, 51, 51);
  text-shadow: 2px 2px rgb(255, 65, 0);
}
#currWeatherDiv {
  position: relative;
  width: 100%;
  font-size: 30px;
  text-align: center;
}

#searchDiv {
  position: relative;
  padding: 150px 0 40px;
}

#pole {
  position: fixed;
  bottom: 20px;
  left: 5%;
  width: 6px;
  height: 300px;
  background-color: black;
  border-radius: 2px;
}

#vleuger {
  position: absolute;
  top: 0;
  left: 3px;
  cursor: pointer;
}

#RTAppTour {
  display: none !important;
}

#clouds {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 10px;
  z-index: -1;
}
#clouds > img {
  position: fixed;
  z-index: -1;
}

@media screen and (max-width: 900px) {
  #currTime {
    font-size: 80px;
  }
}
@media screen and (max-width: 1100px) {
  #answer {
    display: none !important;
    opacity: 0 !important;
  }
}
